.library-song-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 1s ease;
  img {
    width: 30%;
  }
  &:hover {
    background: rgb(142, 161, 196);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  span {
    font-size: 0.7rem;
  }
}
